# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE
.vscode/
.idea/
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Misc
*.tmp
*.bak
*.log
*.unitypackage
